<div class="card blog-post">

  <div class="card-body card-padding">
    <h4> Answer Poll </h4>
    <p> How do your Thrivers answer this? </p>
    <% question.answer_stats.each do |s| %>
    <%= "#{s[0]}: #{s[1]}%" %>
    <br>
    <% end %>
  </div>
</div>
