<div class="card blog-post">
  <div class="card-body card-padding">
    <div id="input-slider2" class="input-slider m-20 " style="max-width: 190px;" disabled  ></div>
    <input type="hidden" id="state" name="state" value="<%= @question.state %>">
    <%= link_to (@question.active? ? 'Retire' : 'Publish'), "/admins/questions/#{@question.id}/#{(@question.active? ? 'retire' : 'publish')}", class: "btn #{(@question.active? ? 'btn-success' : 'btn-danger')} m-r-5 waves-effect", style: "margin-left: 75px", method: 'put' %>
  </div>
</div>

<%= content_for :body_end do %>

<script>
  $( document ).ready(function() {
    var slider = document.getElementById('input-slider2');
    noUiSlider.create(slider, {
      start: 1,
      tooltips: {
        to: function ( value ) {
          switch(value){
            case 1: return 'Draft'; break;
            case 2: return 'Live'; break;
          }
        }
      },
      connect: 'lower',
      // direction: 'rtl',
      step: 1,
      range: {
        'min': 1,
        'max': 2
      },
    pips: { // Show a scale with the slider
      mode: 'steps',
      density: 100,
      format:{
        to: function ( value ) {
          switch(value){
            case 1: return 'Draft'; break;
            case 2: return 'Active'; break;
          }
        }
      }
    }
  });

    state = document.getElementById('state');
    if (state.value === 'draft') {
      slider.noUiSlider.set(1);
    } else {
      slider.noUiSlider.set(2);
    }
    slider.disabled=true;

  });
</script>
<% end %>


