<section id="content">
  <div class="container">

    <div class="card">
      <div class="card-header ch-alt m-b-20">
        <h2>Questions
          <small>Create, modify and publish questions to the application.</small>
        </h2>
        <ul class="actions">
          <li>
            <a href="">
              <i class="zmdi zmdi-refresh-alt"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="zmdi zmdi-download"></i>
            </a>
          </li>

        </ul>
        <a href="<%= new_admins_question_path %>" class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i>
        </a>
      </div>

      <div class="table-responsive">
        <table id="grid-questions" class="table">
          <thead>
            <tr>
              <th data-column-id="sequence">Sequence</th>
              <th data-column-id="name">Question</th>
              <th data-column-id="type_of">Type</th>
              <th data-column-id="strategy">Strategy</th>
              <th data-column-id="section">Section</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>

  </div>
</section>

<%= content_for :body_end do %>
<%= init_grid(
              "grid-questions",
              url: "/admins/questions.json",
              primaryKey: "question_id",
              formatters: {

              },
              handlers: {
                click: { fn: :inspect, url: "/admins/questions", identifier: 'question_id' }
              }
              ) %>
              <% end %>
