<ol class="breadcrumb">
    <li><%= link_to "Back to Action Steps", admins_action_steps_path %></li>
    <li class="active">New Action Step</li>
</ol>

<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Create A New Action Step
                            <small>Action Steps represent XYZ.
                            </small>
                        </h2>
                    </div>
                    <div class="card-body card-padding">
                        <%= render partial: 'admins/action_steps/form', locals: {action_step: @action_step} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
