<ol class="breadcrumb">
  <li><%= link_to "Back to Filters", admins_filters_path  %></li>
  <li class="active">New Filter></li>
</ol>

<section id="content">
  <div class="container">

    <div class="row">

      <div class="col-md-8">
        <div class="card">
          <div role="tabpanel">
            <ul class="tab-nav tn-justified" role="tablist" data-tab-color="amber">
              <li class="active"><a href="#filter-profile" aria-controls="home11" role="tab"
                data-toggle="tab">Profile</a></li>
              </ul>

              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="filter-profile">
                  <%= render partial: 'admins/filters/form', locals: {filter: @filter} %>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>
  </section>
