<div class="container m-t-30">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h3>iThrivePlan.com Terms and Conditions</h3>
            <p>Welcome to iThrivePlan.com, the website of Five to Thrive, LLC ("iThrive"). These Terms and Conditions (the "Agreement") apply to your use of the Site (as defined below). By accessing or using any part of the Site or any of its components, you
                agree to be bound by these Terms and Conditions, which incorporate by reference iThrive’s Privacy Policy found at
                <a href="http://<%= @current_tenant.subdomain %>.qa.yourithriveplan.com/legal/privacy"> Privacy Policy</a> and acknowledge that you have read and agree to the provisions contained
                herein. iThrive may, in its sole discretion, modify, alter, or amend the provisions of these Terms and Conditions, including, without limitation, the pricing of its products and services, at any time. Your continued use of the Site after such changes
                are made constitutes your acceptance of such changes. iThrive reserves the right to deny access to this Site to anyone at any time, for any reason or no reason.</p>
            <h4>1. Ownership of Site.</h4>
            <p>As used in this Agreement, the term "Site" means all content and aspects of iThrivePlan.com collectively and individually (including, without limitation, all iThrive trademarks, text, graphics, images, buttons, design lay-out and arrangement, all
                software and technology comprising iThrivePlan.com, and all information, materials, data, services and products made available by or through iThrivePlan.com). The Site, along with all intellectual property and other rights therein, is the sole and
                exclusive property of iThrive or its licensors. Your only rights in and to the Site are the limited license rights provided pursuant to this Agreement. All other rights are expressly reserved by iThrive.</p>
            <h4>2. Use of Site.</h4>
            <h5>2.1 License Rights</h5>
            <p>Subject at all times to this Agreement, iThrive hereby grants you a limited, revocable, non-transferable and non-exclusive right and license to access and use the Site by displaying it on your Internet browser only for the purpose of reviewing
                information about iThrive and its products and services, and for purchasing products and services sold on the Site. Your license rights are personal to you and you may not make any commercial use of the Site or use the Site on behalf of any third
                party unless iThrive expressly agrees to such use in advance and in writing. iThrive may terminate this license at any time and for any reason or no reason with or without notice to you. Any use of the Site not expressly granted in this Agreement is
                a breach of this Agreement and may violate intellectual property and other laws. Without limiting the generality of the foregoing, you agree that:</p>
            <ol style="A">
                <li>Your use of the Site will be for lawful purposes only in full compliance with all applicable local, national, and international laws, rules and/or regulations.</li>
                <li>You will not reproduce, distribute, display, sell, lease, transmit, create derivative works from, translate, modify, reverse-engineer, disassemble, decompile or otherwise exploit this Site.</li>
                <li>
                    You will not upload or post as part of any Submission (defined below) or otherwise any information or materials that (1) constitute or contain any message of a commercial nature (including, without limitation, any solicitation, advertisement,
                    marketing materials, etc.); (2) violate, infringe or misappropriate any third party intellectual property rights or other rights; or (3) are false, misleading, unlawful, threatening, abusive, defamatory, invasive of privacy or publicity rights,
                    vulgar, obscene, profane or otherwise objectionable, or which encourages conduct that would constitute a criminal offense or give rise to civil or criminal liability.</li>
                <li>You will not use with or launch or upload to the Site any automated program, system or routine that may in any way be harmful to the Site or in any way interrupt, destroy, limit or otherwise affect the functionality or security of the Site or any
                    computers, networks and other hardware and software connected thereto or used therewith, including, without limitation, any bugs, viruses, worms, trap doors, Trojan horses, robots, or spiders.</li>
                <li>You will not collect or harvest any personally identifiable information, including names or account passwords, from the Site.</li>
                <li>You will not submit any misleading information about yourself (such as a false email address) or otherwise impersonate any other person while using the Site.</li>
            </ol>
            <p>The list above is not exhaustive. iThrive reserves the right to monitor your use of the Site and any Submissions that you post to the Site. iThrive may edit or remove any Submissions and may terminate your rights under this Agreement at any time,
                for any reason or no reason. Upon any termination of this Agreement, you shall immediately cease all access to and use of the Site and iThrive shall, in addition to any other legal or equitable remedies, immediately revoke all password(s) and account
                identification issued to you and deny your access to and use of this Site in whole or in part.</p>
            <h4>2.2 Submissions</h4>
            <p>Certain portions of the Site invite or require you to provide information, content or materials to iThrive for the purpose of receiving the products or services you purchase, or for other purposes specified at the time you provide such
                information, content or materials. Any such information, materials or content are collectively and individually referred to in this Agreement as "Submissions". Your Submissions through the Site are governed by iThrive’s Privacy Policy, which is
                located at
                <a href="http://<%= @current_tenant.subdomain %>.qa.yourithriveplan.com/legal/privacy"> Privacy Policy</a>.
            <p>To the extent any of your Submissions are outside of the types of information covered by iThrive’s Privacy Policy (as specified in the Privacy Policy) ("Non-Confidential Submissions"), then such Non-Confidential Submissions will be treated as
                non-confidential and non-proprietary. Upon posting any Non-Confidential Submission to the Site, you recognize and agree that you shall not demand or expect that such information will be protected from disclosure to any third party, and you grant to
                iThrive a royalty-free, worldwide, perpetual, irrevocable, sublicensable and transferable right to use, copy, distribute, display, publish, perform, sell, lease, transmit, adapt, and create derivative works from such Non-Confidential Submissions by
                any means and in any form. iThrive may thereafter disclose, post, edit and otherwise use any Non-Confidential Submission in any manner that iThrive deems appropriate or desirable, all without any compensation or credit to you. All Submissions
                (including Non-Confidential Submissions) are subject to the terms of this Agreement at all times.</p>
            <h4>2.3 User IDs & Passwords</h4>
            <p>iThrive may assign you a password and account identification to enable you to access and use certain portions of this Site and to receive products or services purchased through the Site. Each time you use a password or identification, you will be
                deemed to have accepted the terms and conditions of this Agreement. iThrive has no obligation to investigate the authorization or source of any such access or use of the Site. YOU WILL BE SOLELY RESPONSIBLE FOR ALL ACCESS TO AND USE OF THIS SITE BY
                ANYONE USING THE PASSWORD AND IDENTIFICATION ORIGINALLY ASSIGNED TO YOU WHETHER OR NOT SUCH ACCESS TO AND USE OF THIS SITE IS ACTUALLY AUTHORIZED BY YOU, INCLUDING WITHOUT LIMITATION, ALL COMMUNICATIONS AND TRANSMISSIONS AND ALL OBLIGATIONS
                (INCLUDING WITHOUT LIMITATION FINANCIAL OBLIGATIONS) INCURRED THROUGH SUCH ACCESS OR USE. You are solely responsible for protecting the security and confidentiality of the password and identification assigned to you. You shall immediately notify
                iThrive of any unauthorized use of your password or identification or any other breach or threatened breach of the Site’s security.
            </p>
            <p>You may view and download materials from the Site only for your personal non-commercial use. You must retain all copyright, trademark, and other proprietary notices contained in the original materials on any copy of the materials. You may not
                modify the content or materials on this Site in any way. With the limited exception of certain reports regarding your account history which may be made available to you by iThrive, you may not copy, reproduce, publish, publicly display, transfer,
                sell or offer for sale, distribute, enter in a database, or create derivative works from the materials and content composing the Site or use such content or materials in any way for any public or commercial purposes. Because the materials are
                copyrighted, any unauthorized use of them may violate copyright, trademark, and other laws. You may not use materials from the Site in a manner that violates the U.S. Copyright Act. Your use of this Site gives you no ownership or other rights in or
                to iThrive’s trademarks or service marks and you agree that you will not use, copy or distribute such trademarks or service marks. You may not sell, assign, or otherwise transfer your rights and obligations under this Agreement. By using this Site,
                you promise iThrive that you will not use this Site for any unlawful or prohibited purposes. Any use of the content and/or materials found on the Site, other than a use specifically approved herein, shall be deemed a violation of the copyright,
                trademark and other proprietary rights of iThrive and you shall be liable for all applicable damages. The content and/or materials on this Site may not be used by any third party without the express written permission of iThrive. Users may not copy,
                adapt or adopt the HTML or other computer code used to generate the Site for any purposes. Any unauthorized copying, adaptation or adoption of such coding is a violation of iThrive’s copyrights.</p>
            <h4>2.4 Use At Your Own Risk.</h4>
            <p>Thrive may change the Site at any time. By accepting this Agreement, you agree to use the Site at your own risk. Although we try to provide up to date and accurate information, we make no representations or guarantees regarding the truthfulness,
                accuracy, completeness, timeliness or reliability of any information, data or materials provided via the Site. Nothing on the Site shall be considered an endorsement, representation or warranty with respect to any user or third party, whether in
                regards to its website, products or services. Any cross-links provided via the Site are for informational purposes only and are not endorsements of such websites or the operator’s or owner’s products or services. You acknowledge that iThrive is not
                responsible for the operation of or content located on or through any such third-party website.</p>
            <h4>2.5 Service Cancellation Policy.</h4>
            <p>If you are not 100% satisfied with your purchase, you can cancel your subscription and get a full refund for the balance of your subscription. The cancellation will be for all months beginning the month after the month in which you submit your
                cancellation. You may cancel your subscription at any time.</p>
            <h4>2.6 Termination.</h4>
            <p>iThrive may suspend or terminate your use of or access to the Site (including any Healthplan Services made available through the Site) if you fail to comply with this Agreement. Such suspension or termination may result in the permanent deletion
                of your information or other previously available content.</p>
            <h4>2.7 Digital Millenium Copyright Act.</h4>
            <p>It is iThrive’s policy to respect the intellectual property rights of others. If you are a copyright owner or an agent thereof and believe that any Submission or other aspect of the Site infringes upon your copyrights, you may submit a
                notification to iThrive pursuant to the Digital Millennium Copyright Act ("DMCA") by providing iThrive’s Copyright Agent with the following information in writing (see 17 U.S.C. § 512(c)(3) for further detail):</p>
            <ul>
                <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
                <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works on the Site are covered by a single notification, a representative list of such works on the Site;</li>
                <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled and information reasonably sufficient to permit iThrive to locate the material;</li>
                <li>Information reasonably sufficient to permit iThrive to contact you, such as an address, telephone number, and, if available, an email address;</li>
                <li>A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
                <li>A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
            </ul>
            <p>
                iThrive’s designated Copyright Agent to receive notifications of claimed infringement is:</p>
            <p>
                Attn: Josh Silver<br>
                DMCA Compliance Officer<br>
                Email: jsilver@bernsteinshur.com
            </p>
            <p>Only DMCA notices should go to the Copyright Agent; any other feedback, comments, requests for technical support, and other communications should be directed to iThrive customer service. You acknowledge that if you fail to comply with all of the
                requirements of this Section, your DMCA notice may not be valid.</p>
            <p>If you are the owner or an agent thereof, of material that was removed from the Site or disabled after iThrive received a copyright infringement notice, and you have a good faith belief that the material was removed or disabled as a result of
                mistake or misidentification of the material, you may ask that the material be restored by sending iThrive a counter-notification. Section 512(g) of the Copyright Act requires that your counter-notification include all of the following:</p>
            <ul>
                <li>Your physical or electronic signature;</li>

                <li>Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or disabled;</li>
                <li>A statement that you have a good faith belief that the material was removed or disabled as a result of mistake or a misidentification of the material; and</li>
                <li>Your name, address, telephone number, and email address, a statement that you consent to the jurisdiction of the federal court in Portland, Maine, and a statement that you will accept service of process from the person who provided notification
                    of the alleged infringement.</li>
            </ul>
            <p>If a counter-notification is received by the Copyright Agent, iThrive may send a copy of the counter-notice to the original complaining party informing that person that it may replace the removed content or cease disabling it in ten (10) business
                days. Unless the copyright owner files an action seeking a court order against iThrive and provides iThrive with notice of same, the removed content may be replaced, or access to it restored, in ten (10) to fourteen (14) business days or more after
                receipt of the counter-notification, at iThrive’s sole discretion.</p>
            <p>Please send all other questions or comments regarding this Site or iThrive’s products or services to:</p>
            <p>Attn: Customer Service<br>
                support@iTHRIVEplan.com
            </p>
            <h4>3. Disclaimer and Limitation of Liability.</h4>
            <p>YOUR USE OF THE SITE IS VOLUNTARY AND AT YOUR SOLE RISK.</p>
            <p>THE SITE, ANY PRODUCTS OR SERVICES OFFERED FOR SALE ON THE SITE, ANY TRANSACTIONS CONDUCTED VIA THE SITE, AND ANY INFORMATION, CONTENT, DATA AND MATERIALS AVAILABLE ON THE SITE OR PROVIDED VIA THE SITE ARE PROVIDED “AS-IS”, “WITH ALL FAULTS” AND
                WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE BY APPLICABLE LAW, ITHRIVE DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS
                FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, TITLE AND QUALITY OF SERVICE.</p>
            <p>
                THE HEALTH-RELATED INFORMATION AVAILABLE THROUGH THE SITE IS GENERAL IN NATURE AND IS NOT A SUBSTITUTE FOR PROFESSIONAL HEALTHCARE. IT IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY AND IS NOT INTENDED, AND SHOULD NOT BE USED, TO REPLACE THE ADVICE OF
                HEALTHCARE PROFESSIONALS. ITHRIVE IS NOT RESPONSIBLE FOR INDIVIDUALS WHO CHOOSE TO SELF-DIAGNOSE, SELF-TREAT, OR USE THE INFORMATION WITHOUT CONSULTING WITH THEIR OWN HEALTH CARE PRACTITIONER. YOU SHOULD NEVER ALTER YOUR DOSAGE OF PRESCRIPTION
                MEDICATIONS WITHOUT FIRST CONSULTING WITH YOUR PHYSICIAN AND YOU SHOULD ALWAYS INFORM YOUR PHYSICIAN ABOUT ANY DIETARY SUPPLEMENTS YOU ARE TAKING. YOU ARE SOLELY RESPONSIBLE FOR YOUR RELIANCE ON THE SITE AND THE HEALTH-RELATED INFORMATION AVAILABLE
                THROUGH THE SITE, AND FOR ALL DECISIONS OR ACTIONS RESULTING FROM YOUR USE OF THE SITE AND ITS CONTENT, INCLUDING BUT NOT LIMITED TO ANY DECISION NOT TO SEEK OR REFRAIN FROM SEEKING ANY DIAGNOSIS OR TREATMENT. YOU ARE ALSO SOLELY RESPONSIBLE FOR YOUR
                DECISION TO USE THE SERVICES OF ANY PARTICULAR THIRD-PARTY PROVIDER. IF YOU HAVE SPECIFIC HEALTHCARE NEEDS, OR FOR COMPLETE HEALTH INFORMATION, PLEASE SEE A DOCTOR OR OTHER HEALTHCARE PROVIDER.</p>
            <p>THIS SITE MAY INCLUDE INACCURACIES, MISTAKES OR TYPOGRAPHICAL ERRORS. ITHRIVE ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES ON THE SITE, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER,
                RESULTING DIRECTLY OR INDIRECTLY FROM YOUR ACCESS TO AND USE OF THE SITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF ITHRIVE’S SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION
                OR CESSATION OF TRANSMISSION TO OR FROM THE SITE, (V) ANY BUGS, SPIDERS, ROBOTS, VIRUSES, WORMS, TRAP DOORS, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH THE SITE BY ANY THIRD PARTY, AND/OR (VI) ANY ERRORS OR OMISSIONS IN THE
                SITE OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF, OR RELIANCE UPON, ANY CONTENT, DATA, MATERIALS OR INFORMATION MADE AVAILABLE VIA THE SITE. ITHRIVE DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY
                PRODUCT OR SERVICE DISCUSSED, PROMOTED, ADVERTISED, OR OFFERED BY A THIRD PARTY THROUGH THE SITE OR VIA ANY SITE HYPERLINKED FROM THE SITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND ITHRIVE WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE
                FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. ITHRIVE DOES NOT WARRANT THAT THE SITE WILL (A) BE AVAILABLE AT ALL TIMES, (B) BE SECURE, UNINTERRUPTED OR ERROR FREE, OR (C) MEET YOUR REQUIREMENTS OR
                EXPECTATIONS.</p>
            <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, ITHRIVE WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE OR ANY CONTENT, MATERIALS, INFORMATION, PRODUCTS OR SERVICES OFFERED THROUGH THE SITE, INCLUDING, BUT NOT LIMITED TO
                DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, EXEMPLARY, SPECIAL OR CONSEQUENTIAL DAMAGES, REGARDLESS OF THE FORM OF ACTION AND WHETHER OR NOT ITHRIVE HAS BEEN INFORMED OF, OR OTHERWISE MIGHT HAVE ANTICIPATED, THE POSSIBILITY OF SUCH DAMAGES.</p>
            <p>IF, NOTWITHSTANDING THE PRECEDING PARAGRAPH, ITHRIVE IS FOUND LIABLE FOR ANY LOSS OR DAMAGE RELATING TO YOUR USE OF THE SITE OR ANY CONTENT, MATERIALS, INFORMATION, PRODUCTS OR SERVICES OFFERED THROUGH THE SITE, YOU AGREE THAT ITHRIVE’S TOTAL
                LIABILITY TO YOU FOR ANY DAMAGES (REGARDLESS OF THE FOUNDATION FOR THE ACTION) SHALL NOT EXCEED IN THE AGGREGATE THE AMOUNT ACTUALLY PAID BY YOU TO ITHRIVE DURING THE MONTH IMMEDIATELY PRECEDING THE EVENT ALLEGEDLY GIVING RISE TO ITHRIVE’S LIABILITY.</p>
            <p>The above may not apply in jurisdictions that do not allow the exclusion of certain warranties or limitations on liability. Your remedies under this Agreement are exclusive and are limited to those expressly provided for herein.</p>
            <h4>4. Indemnification.</h4>
            <p>You agree to defend, indemnify and hold harmless iThrive, its affiliates, and its and their respective directors, officers, employees, agents, successors and assigns from and against any and all claims, actions, suits, obligations, demands,
                damages, liabilities, losses, expenses, or cost of any kind (including, without limitation, reasonable attorneys’ fees) arising out of, or relating to: (i) your use of the Site and/or any information, data, materials, services and/or products
                provided via the Site; (ii) your violation of this Agreement; or (iii) your violation of any third party right, including, without limitation, any copyright, property or privacy right. The obligations under this Section will survive this Agreement
                and your use of the Site.</p>
            <h4>5. Governing Law and Dispute Resolution.</h4>
            <p>This Agreement is governed by, and shall be construed and enforced in accordance with, the laws of the State of Delaware, without regard to its conflict of laws provisions. You expressly agree that any claim or controversy arising out of or
                related to this Agreement, the Site, or the services or products provided on or through the Site shall be settled by binding arbitration to be held in Denver, Colorado in accordance with the rules of the American Arbitration Association. Any such
                claim or controversy shall be arbitrated on an individual basis and shall not be consolidated with a claim of any other party. The foregoing shall not preclude iThrive from seeking any injunctive relief in any court of competent jurisdiction for
                protection of iThrive’s intellectual property rights. You further agree and expressly consent to the exercise of personal jurisdiction in the courts of the State of Colorado for the enforcement of this arbitration agreement and of any arbitration
                award in connection with any such dispute including any claim involving iThrive or its affiliates, subsidiaries, employees, contractors, officers, directors, telecommunication providers and Site providers.</p>

            <h4>6. Cumulative Remedies and Waiver.</h4>
            <p>No right or remedy of iThrive shall be exclusive of any other, whether at law or in equity, including without limitation damages, injunctive relief or attorneys’ fees and expenses. No instance of waiver by iThrive of its rights or remedies under
                these terms and conditions shall imply any obligation to grant any similar, future or other waiver.</p>
            <h4>7. Entire Agreement.</h4>
            <p>This Agreement, and the policies incorporated by reference, sets forth the entire understanding and agreement of the parties relating to the subject matter hereof, and it supersedes any prior or contemporaneous understandings of any kind or
                nature. By agreeing to these terms, you represent that you are not relying on any agreement, representation or warranty pertaining to the subject matter hereof that is not expressly set forth herein.</p>
            <h4>8. Severability.</h4>
            <p>If a court of competent jurisdiction or any arbitrator declares any provision of this Agreement to be invalid, unlawful or unenforceable as drafted, the parties intend for that provision to be amended and construed in a manner designed to
                effectuate the purposes of the provision to the fullest extent permitted by law. If a provision cannot be so amended and construed, it will be severed, and the remaining provisions will remain unimpaired and in full force and effect to the fullest
                extent permitted by law.</p>
            <h4>9. Ability to Accept Terms.</h4>
            <p>You affirm that you are 18 years of age or older and are fully able and competent to enter into this Agreement, and to abide by and comply with this Agreement.</p>
            <h4>10. General.</h4>
            <p>No agency, partnership, joint venture, employee-employer, or franchisor-franchisee relationship is intended or created between you and iThrive by your use of the Site. This Agreement, and any rights and licenses granted hereunder, may not be
                transferred or assigned by you, but may be assigned by iThrive without restriction. The section headings used herein are for convenience only and shall not be given any legal import. This Agreement is for the benefit of iThrive, its subsidiaries,
                affiliates and its third party suppliers and licensors and each shall have the right to assert and enforce this Agreement on its own behalf. The provisions of this Agreement which by their sense and context are intended to survive the termination of
                this Agreement shall so survive and continue to bind the parties.</p>
        </div>
    </div>
    <div class="row">
    <%= render partial: 'core/user_footer' %>
    </div>
</div>
