<section id="content">
    <div class="container">

        <div class="card">
            <div class="card-header ch-alt m-b-20">
                <h2>Action Steps
                    <small>Create, modify and publish action steps to the application.</small>
                </h2>
                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-refresh-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-download"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="" data-toggle="dropdown">
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a href="">Change Date Range</a>
                            </li>
                            <li>
                                <a href="">Change Graph Type</a>
                            </li>
                            <li>
                                <a href="">Other Settings</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a href="<%= new_admins_action_step_path %>" class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i>
                </a>
            </div>

            <div class="table-responsive">
                <table id="grid-action_steps" class="table">
                    <thead>
                        <tr>
                            <th data-column-id="id" data-type="numeric" data-identifier="true" data-order="desc">ID</th>
                            <th data-column-id="name">Name</th>
                            <th data-column-id="published" data-converter="yesno">Published?</th>
                            <th data-column-id="level">Level</th>
                            <th data-column-id="strategies">Strategy</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>

    </div>
</section>

<%= content_for :body_end do %>
<%= init_grid(
  "grid-action_steps",
  url: "/admins/action_steps.json",
  primaryKey: "id",
  formatters: {

  },
  handlers: {
      click: { fn: :inspect, url: "/admins/action_steps", identifier: 'id' }
  }
) %>
<% end %>
