<div class="card blog-post">

  <div class="card-header" href="">
    <h2><%= survey_option.name %></h2>
    <br>
  </div>

  <div class="card-body card-padding">
    <%= link_to (@survey_option.active? ? 'Retire' : 'Publish'), "/admins/survey_options/#{@survey_option.id}/#{(@survey_option.active? ? 'retire' : 'publish')}", class: "btn #{(@survey_option.active? ? 'btn-success' : 'btn-danger')} m-t-10 m-r-5 waves-effect", method: 'put' %>
    <div class="readmore">
      <h5>current state:
        <%= survey_option.state.html_safe %>
      </h5>
    </div>
  </div>
</div>



<% content_for :body_end do %>
<script>
  $(function() {
    $('.readmore').readmore({speed: 75,
      collapsedHeight: 70,
      heightMargin: 50,
      lessLink: '<a href="#">Read less</a>'});
  });
</script>
<% end %>
