<style type="text/css">
  body {
    background-image: url("<%= @current_tenant.desktop.url %>");
  }
  table {
    background: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 20px #888;
    box-shadow: 0 0 20px #888;
  }
  td {
    padding: 15px;
  }
</style>

<body>
  <table align='center'>
    <tr>
      <td>
        <%= image_tag 'avatars/man5.png', style: "height: 200px", class: 'img-responsive' %>
      </td>
      <td>
        <%= image_tag 'ithrive/login.png', style: "height: 30px" %>
        <h1>Something went wrong</h1>
        <h3>We are experiencing some issues.  Sorry about that!</h3>
        <div style="color: gray; text-align: right">- Error Code, 500</div>
        <p>
          <%= @not_found_path %>
        </p>
      </td>
    </tr>
  </table>
</body>
