<ol class="breadcrumb">
    <li><%= link_to "Back to Tenants", admins_tenants_path %></li>
    <li class="active">New Tenant</li>
</ol>

<section id="content">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Create New Tenant
                            <small>Tenants represent logical entities in the business model capable of presenting iTrack capabilities to a set of its own Trackers, having no direct affiliation with iTrack Plan.
                            </small>
                        </h2>
                    </div>
                    <div class="card-body card-padding">
                        <%= render partial: 'admins/tenants/form', locals: {tenant: @tenant} %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
