<div class="card">
    <div class="card-header">
        <h2>Container Status<small>All containers are shown along with its real-time status.</small></h2>

        <ul class="actions">
            <li>
                <a href="#">
                    <i class="zmdi zmdi-plus"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-refresh-alt"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body m-t-0">
        <table class="table table-inner table-vmiddle">
            <thead>
                <tr>
                    <th>Container</th>
                    <th>IP Address</th>
                    <th>Size</th>
                    <th>Published</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>INT-PROD</td>
                    <td>72.0.98.89</td>
                    <td>M</td>
                    <td>2 days ago</td>
                    <td class="f-500 c-green">Active</td>
                </tr>
                <tr>
                    <td>INT-QA</td>
                    <td>72.0.98.103</td>
                    <td>XS</td>
                    <td>13 hours ago</td>
                    <td class="f-500 c-green">Active</td>
                </tr>
                <tr>
                    <td>INT-DEV</td>
                    <td>72.0.98.108</td>
                    <td>S</td>
                    <td>Just now</td>
                    <td class="f-500 c-green">Active</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
