<section id="content">
    <div class="container-fluid">
        <%= render partial: 'header' %>
        <div class="row">
            <div class="col-md-12">
            <%#= render partial: 'card1' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%#= render partial: 'card3' %>
            </div>
            <div class="col-md-6">
                <%#= render partial: 'card2' %>
            </div>
        </div>
    </div>
</section>
