<section id="content">
    <div class="container-fluid">
        <h4>Get Started</h4>
        You're well on your way. You just need to take the survy and we'll provide you the options etc.
    </div>
</section>
