<style>
    #main {
        background-size: cover;
        background-image: url(<%= image_path("welcome/bkgd.jpg") %>);
    }
</style>

<footer id="footer">
  <div class='row m-t-20'>
    <div class='c-white m-t-20' style="text-align: center">
      <p class='lead c-white m-t-20' style='font-size: 12px'>
        <%= link_to 'Privacy Policy', legal_privacy_path, style: "color: #ffffff " %>
        |
        <%= link_to 'Terms and Conditions', legal_terms_path, style: "color: #ffffff " %>
        |
        &copy; 2016 Five to Thrive, LLC
      </p>
    </div>
  </div>
</footer>
