<%= render partial: 'support/background' %>

<section id='content'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-1' style='margin-top: 20px;'>
      <h1 class='c-white m-b-25' style='font-size: 40px'>Get ready to THRIVE!</h1>
      <p class='lead c-white'>
        Need help? Email us at: support@ithriveplan.com
      </p>

      <%= mail_to "support@ithriveplan.com", 'Email Us', class: "btn btn-primary btn-lg m-r-10 btn-outline waves-effect" %>

      <p class='lead c-white' style='font-size: 12px'>
        <br>
        <br>
        *** The integrity and security of this message cannot be guaranteed on the Internet. Do not include your personal health information in your email. By sending an email to iTrackplan Customer Support, you understand and accept this risk.***
        <br>
        <br>
      </p>
      <p class='lead c-white'>
        Or check out our Frequently Asked Questions
      </p>

      <a href='http://www.ithriveplan.com/FAQ.html' class='btn btn-primary btn-lg m-r-10 btn-outline'>Frequently Asked Questions</a>

    </div>
  </div>
  <div class='row'>
    <div class='col-md-6 col-md-offset-1' style='margin-top: 40px;'>
      <p class='lead c-white' style='font-size: 12px'>

        * If you are participating in the iTrack Plan as a Patient of a Cancer Center, you recognize and agree that all information you submit may be disclosed to the Cancer Center.
      </p>
      <p>
      </p>
    </div>
  </div>
</section>
