<%= render partial: 'support/background' %>

<section id="content">
  <div class="row">
    <div class="col-md-6 col-md-offset-1" style="margin-top: 20px;">
      <h1 class="c-white m-b-25" style="font-size: 40px">Get ready to THRIVE!</h1>
      <p class="lead c-white">
        The first step towards creating your individualized and completely unique iTHRIVE Plan is to complete the survey. The survey will ask you questions about your health and lifestyle. The survey will only take you between 10 and 20 minutes to complete.
        <!-- Or, feel free to take a tour before completing the survey. -->
      </p>
      <!-- <a href="" class="btn btn-primary btn-lg m-r-10 btn-outline">Take a Tour</a> -->
      <%= link_to "Take the Survey", surveys_path,  class: "btn btn-success btn-lg btn-outline" %>
    </div>
    <div class="col-md-4">
      <%#= image_tag 'welcome/rocket.png', class: 'img-responsive' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-1" style="margin-top: 40px;">
      <p class="lead c-white" style="font-size: 12px">
        * If you are participating in the iTHRIVE Plan as a Patient of a Cancer Center, you recognize and agree that all information you submit may be disclosed to the Cancer Center.
      </p>
    </div>
  </div>
</section>
