<%= render partial: 'support/background' %>

<section id="content">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 m-t-20">
      <h1 class="c-white m-b-25" style="font-size: 40px">Get ready to THRIVE!</h1>
      <p class="c-white m-b-25 f-15">
        Well Done, Thriver!  Now that your survey is complete, your answers have been fed into our proprietary mathematical formula which determines your level of strength within each of these areas: diet, movement, environment, rejuvenation, and spirit.
      </p>
      <br>
      <p class="c-white m-b-25 f-15">
        The next step is to view your strengths report (located on your dashboard) and start building your action plan.
      </p>
      <%= link_to "View your strengths report", dashboard_path,  class: "btn btn-success btn-lg btn-outline" %>
    </div>
  </div>
</section>
