<section id="content">
    <div class="card" id="profile-main">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= render partial: "users/registrations/edit", locals: { user: @user }  %>
</div>
</section>
